-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u647959341_supplyManageDb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `actor_user_id` int(10) unsigned NOT NULL,
  `actor_role` varchar(30) DEFAULT NULL,
  `module` varchar(50) NOT NULL,
  `action` varchar(50) NOT NULL,
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `amount` decimal(12,2) DEFAULT NULL,
  `summary` varchar(255) NOT NULL,
  `meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`meta`)),
  `ip` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_action_time` (`action`,`created_at`),
  KEY `idx_module_time` (`module`,`created_at`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_session` (`session_id`)
) ENGINE=InnoDB AUTO_INCREMENT=229 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash`
--

DROP TABLE IF EXISTS `cash`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(10) DEFAULT NULL,
  `source` varchar(255) DEFAULT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `amount` double DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `refId` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `date` date DEFAULT NULL,
  `createdAt` datetime DEFAULT NULL,
  `approval_status` enum('pending','approved','rejected') DEFAULT 'pending',
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `reject_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash`
--

LOCK TABLES `cash` WRITE;
/*!40000 ALTER TABLE `cash` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_guarantors`
--

DROP TABLE IF EXISTS `customer_guarantors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_guarantors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_user_id` bigint(20) unsigned NOT NULL,
  `guarantor_user_id` bigint(20) unsigned NOT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 1,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `assigned_at` datetime NOT NULL DEFAULT current_timestamp(),
  `assigned_by` bigint(20) unsigned DEFAULT NULL,
  `relation` varchar(80) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_primary` (`customer_user_id`,`guarantor_user_id`),
  KEY `idx_customer` (`customer_user_id`),
  KEY `idx_guarantor` (`guarantor_user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_guarantors`
--

LOCK TABLES `customer_guarantors` WRITE;
/*!40000 ALTER TABLE `customer_guarantors` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_guarantors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_installments`
--

DROP TABLE IF EXISTS `daily_installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_installments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) DEFAULT NULL,
  `cardId` int(11) DEFAULT NULL,
  `amount` decimal(14,2) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `receiver` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `update_by` int(11) DEFAULT NULL,
  `update_at` datetime DEFAULT NULL,
  `update_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_installments`
--

LOCK TABLES `daily_installments` WRITE;
/*!40000 ALTER TABLE `daily_installments` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_installments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installment_cards`
--

DROP TABLE IF EXISTS `installment_cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `installment_cards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `card_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `reference_user_id` int(11) DEFAULT NULL,
  `product_name` varchar(500) NOT NULL,
  `mrp` decimal(10,2) DEFAULT NULL,
  `purchase_price` decimal(10,2) DEFAULT NULL,
  `additional_cost` decimal(10,2) DEFAULT NULL,
  `cost_price` decimal(10,2) DEFAULT NULL,
  `sale_type` enum('Cash','Installment') DEFAULT 'Installment',
  `sale_price` decimal(10,2) DEFAULT NULL,
  `down_payment` decimal(10,2) DEFAULT NULL,
  `total_due_amount` decimal(10,2) DEFAULT NULL,
  `installment_count` int(11) DEFAULT NULL,
  `per_installment_amount` decimal(10,2) DEFAULT NULL,
  `profit` decimal(10,2) DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `first_installment_date` date DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `status` enum('Running','Fully Paid','Overdue') DEFAULT 'Running',
  `created_at` datetime DEFAULT current_timestamp(),
  `description` varchar(10000) DEFAULT NULL,
  `memo` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `card_id` (`card_id`),
  KEY `fk_customer` (`user_id`),
  KEY `fk_supplier` (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installment_cards`
--

LOCK TABLES `installment_cards` WRITE;
/*!40000 ALTER TABLE `installment_cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `installment_cards` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_insert_installment_cards` BEFORE INSERT ON `installment_cards` FOR EACH ROW BEGIN
  SET NEW.profit = NEW.sale_price - NEW.cost_price;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_update_installment_cards` BEFORE UPDATE ON `installment_cards` FOR EACH ROW BEGIN
  SET NEW.profit = NEW.sale_price - NEW.cost_price;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `installment_files`
--

DROP TABLE IF EXISTS `installment_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `installment_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `card_id` int(11) NOT NULL,
  `has_cheque` enum('yes','no') DEFAULT 'no',
  `file_received_date` date DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installment_files`
--

LOCK TABLES `installment_files` WRITE;
/*!40000 ALTER TABLE `installment_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `installment_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `installment_payments`
--

DROP TABLE IF EXISTS `installment_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `installment_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `card_id` int(11) NOT NULL,
  `installment_no` int(11) NOT NULL COMMENT 'à§§, à§¨, à§©â€¦',
  `tag` varchar(50) DEFAULT NULL COMMENT 'à¦¯à§‡à¦®à¦¨: à§§à¦® à¦•à¦¿à¦¸à§à¦¤à¦¿, à¦¡à¦¾à¦‰à¦¨ à¦ªà§‡à¦®à§‡à¦¨à§à¦Ÿ',
  `due_amount` decimal(10,2) DEFAULT NULL,
  `principal_amount` decimal(10,2) DEFAULT NULL,
  `profit_amount` decimal(10,2) DEFAULT NULL,
  `due_date` date NOT NULL,
  `paid_date` date DEFAULT NULL,
  `payment_method` enum('Cash','Bank','Bkash','Nagad','Rocket','Card','Other') NOT NULL DEFAULT 'Cash',
  `receipt_number` varchar(50) DEFAULT NULL,
  `signature` int(11) DEFAULT NULL,
  `status` enum('Unpaid','Paid') DEFAULT 'Unpaid',
  `created_at` datetime DEFAULT NULL,
  `collected_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `card_id` (`card_id`),
  CONSTRAINT `installment_payments_ibfk_1` FOREIGN KEY (`card_id`) REFERENCES `installment_cards` (`card_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=277 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `installment_payments`
--

LOCK TABLES `installment_payments` WRITE;
/*!40000 ALTER TABLE `installment_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `installment_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_cards`
--

DROP TABLE IF EXISTS `investment_cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investment_cards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) DEFAULT NULL,
  `card_name` varchar(100) DEFAULT NULL,
  `investment_amount` decimal(10,2) DEFAULT NULL,
  `payment_type` enum('onetime','daily','weekly','monthly','flexible','shorttime') DEFAULT 'flexible',
  `start_date` date DEFAULT NULL,
  `maturity_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('running','closed') DEFAULT 'running',
  `created_at` date DEFAULT current_timestamp(),
  `total_time_wighted_value` int(255) DEFAULT NULL,
  `reference_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`investor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_cards`
--

LOCK TABLES `investment_cards` WRITE;
/*!40000 ALTER TABLE `investment_cards` DISABLE KEYS */;
INSERT INTO `investment_cards` VALUES (1,1,'à¦¶à¦¾à¦¹à¦°à¦¿à§Ÿà¦¾à¦° à¦°à§à¦¬à§‡à¦²',330000.00,'flexible','2026-08-01','2027-08-01',NULL,'running','2026-08-25',4770000,1);
/*!40000 ALTER TABLE `investment_cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_installments`
--

DROP TABLE IF EXISTS `investment_installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investment_installments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) DEFAULT NULL,
  `investment_no` int(11) DEFAULT NULL,
  `investment_date` date DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `signature_by` varchar(100) DEFAULT NULL,
  `updated_by` varchar(100) DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `update_reason` varchar(255) DEFAULT NULL,
  `active_days` int(255) DEFAULT NULL,
  `time_wighted_value` int(255) DEFAULT NULL,
  `investment_card_no` int(255) DEFAULT NULL,
  `source_profit_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_installments`
--

LOCK TABLES `investment_installments` WRITE;
/*!40000 ALTER TABLE `investment_installments` DISABLE KEYS */;
INSERT INTO `investment_installments` VALUES (1,1,1,'2026-08-08',250000.00,'2',NULL,NULL,NULL,17,4250000,1,NULL),(2,1,2,'2026-08-17',40000.00,'2',NULL,NULL,NULL,8,320000,1,NULL),(3,1,3,'2026-08-20',40000.00,'2',NULL,NULL,NULL,5,200000,1,NULL);
/*!40000 ALTER TABLE `investment_installments` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_insert_investments` BEFORE INSERT ON `investment_installments` FOR EACH ROW BEGIN
    
    IF NEW.investment_date IS NOT NULL THEN
        SET NEW.active_days = DATEDIFF(CURDATE(), NEW.investment_date);
    ELSE
        SET NEW.active_days = 0;
    END IF;

    
    IF NEW.amount IS NULL THEN
        SET NEW.time_wighted_value = NEW.active_days * 0;
    ELSE
        SET NEW.time_wighted_value = NEW.active_days * NEW.amount;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ai_investment_installments` AFTER INSERT ON `investment_installments` FOR EACH ROW BEGIN
    IF NEW.investment_card_no IS NOT NULL THEN
        UPDATE investment_cards ic
        SET
            ic.total_time_wighted_value = (
                SELECT COALESCE(SUM(ii.time_wighted_value), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = NEW.investment_card_no
            ),
            ic.investment_amount = (
                SELECT COALESCE(SUM(ii.amount), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = NEW.investment_card_no
            )
        WHERE ic.id = NEW.investment_card_no;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_before_update_investments` BEFORE UPDATE ON `investment_installments` FOR EACH ROW BEGIN
    DECLARE v_status VARCHAR(20);

    
    IF NEW.investment_card_no IS NOT NULL THEN
        SELECT status
        INTO v_status
        FROM investment_cards
        WHERE id = NEW.investment_card_no
        LIMIT 1;
    ELSE
        SET v_status = NULL;
    END IF;

    
    IF v_status IS NULL OR v_status <> 'closed' THEN


        IF NEW.investment_date IS NOT NULL THEN
            SET NEW.active_days = DATEDIFF(CURDATE(), NEW.investment_date);
        ELSE
            SET NEW.active_days = 0;
        END IF;

        IF NEW.amount IS NULL THEN
            SET NEW.time_wighted_value = NEW.active_days * 0;
        ELSE
            SET NEW.time_wighted_value = NEW.active_days * NEW.amount;
        END IF;

    ELSE
        
        SET NEW.active_days = OLD.active_days;
        SET NEW.time_wighted_value = OLD.time_wighted_value;
    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_au_investment_installments` AFTER UPDATE ON `investment_installments` FOR EACH ROW BEGIN
    
    IF OLD.investment_card_no IS NOT NULL
       AND OLD.investment_card_no <> NEW.investment_card_no THEN

        UPDATE investment_cards ic
        SET
            ic.total_time_wighted_value = (
                SELECT COALESCE(SUM(ii.time_wighted_value), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = OLD.investment_card_no
            ),
            ic.investment_amount = (
                SELECT COALESCE(SUM(ii.amount), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = OLD.investment_card_no
            )
        WHERE ic.id = OLD.investment_card_no;

    END IF;

    
    IF NEW.investment_card_no IS NOT NULL THEN

        UPDATE investment_cards ic
        SET
            ic.total_time_wighted_value = (
                SELECT COALESCE(SUM(ii.time_wighted_value), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = NEW.investment_card_no
            ),
            ic.investment_amount = (
                SELECT COALESCE(SUM(ii.amount), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = NEW.investment_card_no
            )
        WHERE ic.id = NEW.investment_card_no;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ad_investment_installments` AFTER DELETE ON `investment_installments` FOR EACH ROW BEGIN
    IF OLD.investment_card_no IS NOT NULL THEN
        UPDATE investment_cards ic
        SET
            ic.total_time_wighted_value = (
                SELECT COALESCE(SUM(ii.time_wighted_value), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = OLD.investment_card_no
            ),
            ic.investment_amount = (
                SELECT COALESCE(SUM(ii.amount), 0)
                FROM investment_installments ii
                WHERE ii.investment_card_no = OLD.investment_card_no
            )
        WHERE ic.id = OLD.investment_card_no;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `stock_inventory`
--

DROP TABLE IF EXISTS `stock_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `brand` varchar(50) DEFAULT NULL,
  `model` varchar(100) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `imei1` varchar(50) DEFAULT NULL,
  `imei2` varchar(50) DEFAULT NULL,
  `variant` varchar(50) DEFAULT NULL,
  `color` varchar(50) DEFAULT NULL,
  `purchase_price` decimal(10,2) DEFAULT NULL,
  `mrp` decimal(10,2) DEFAULT NULL,
  `supplier` varchar(100) DEFAULT NULL,
  `status` enum('available','sold') DEFAULT 'available',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `imei1` (`imei1`),
  UNIQUE KEY `imei2` (`imei2`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_inventory`
--

LOCK TABLES `stock_inventory` WRITE;
/*!40000 ALTER TABLE `stock_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier_payment`
--

DROP TABLE IF EXISTS `supplier_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplier_payment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `memo_no` varchar(50) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `shop_name` varchar(100) DEFAULT NULL,
  `supplier` varchar(100) DEFAULT NULL,
  `brand` varchar(100) DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `paid` decimal(10,2) DEFAULT NULL,
  `due` decimal(10,2) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier_payment`
--

LOCK TABLES `supplier_payment` WRITE;
/*!40000 ALTER TABLE `supplier_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `role` enum('admin','manager','staff','supplier','investor','customer','developer','granter') NOT NULL,
  `assigned_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_user_role` (`user_id`,`role`),
  CONSTRAINT `user_roles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `id_number` varchar(50) DEFAULT NULL,
  `id_type` enum('smart_nid','voter_id','birthday_certificate','passport') DEFAULT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `password` varchar(255) DEFAULT '12345',
  `photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nid` (`id_number`),
  UNIQUE KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-23 23:39:22
