<IfModule mod_headers.c>
    SetEnvIf Origin "^http(s)?://(localhost|127\.0\.0\.1):(5173|5174|5175)$" origin_is=$0
    SetEnvIf Origin "^http(s)?://(.+\.)?(dayalstock\.com|piksea\.com)$" origin_is=$0
    Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS, PATCH"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Accept, Origin, x-api-key"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
