@import "tailwindcss";

html,
body,
#root {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;

}

/* Global Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(108, 79, 224, 0.5);
    /* Match the brand purple */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(108, 79, 224, 0.8);
}